<div>
  <table mat-table [dataSource]="studentsList" class="mat-elevation-z8">
    <!--
      - Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition"
    -->

    <!-- Photo Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let student">{{ student.photo }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let student">{{ student.first_name }}</td>
    </ng-container>

    <!-- Birthday Column -->
    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef>Birthday</th>
      <td mat-cell *matCellDef="let student">
        {{ student.birth_date | date: 'fullDate' }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let student"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
